.coming-soon {
    background: rgba(0,0,0,0.5);
}
.coming-soon h1 {
    font-family: 'Spectral SC', serif;
    color: #add8e6;
}
.coming-soon h2 {
    color: #add8e6;
    text-transform: uppercase;
}
.green {
    color: #72c02c;
}
#mc_embed_signup input.button, #mc_embed_signup input.email {
    max-width: 400px;
    margin: 0 auto 10px auto;
    text-align: center;
}
#mc_embed_signup {
    clear: left;
    font: 14px Helvetica,Arial,sans-serif;
}
.sticky-footer {
    position: absolute;
}
strong {
    color: #add8e6;
}
.wow {
    visibility: hidden;
}